div{
  display:inline-block;
  margin:10px;
}

.board{
  border:2px solid gray;
  table-layout: fixed;
  display: inline-block;
}

.board td{
  background-color: white;
  vertical-align: middle;
  text-align: center;
  border: 2px solid black;
  font-size: 20px;
  width: 100px;
  height:100px;
}
