<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Secret</title>
  <meta name="description" content="Secret project">
  <meta name="author" content="Norbert Balogh">

  <link rel="stylesheet" href="{{url_for('static',filename='master.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='session.css')}}">
</head>

<body>
  {% if scores != None %}
    <h1>Current session scores</h1>
    <table>
      <tr>
        <td>Name</td>
        <td>Score</td>
      </tr>
        {% for name,points in scores.items() %}
      <tr>
        <td>{{name}}</td>
        <td>{{points}}</td>
      </tr>
        {% endfor %}
    </table>
  {% endif %}
  {% if user.group==3 %}
    <form method="POST" action="{{url_for('_session')}}">
      {{form.count}}
      {{form.submit}}
      {{form.csrf_token}}
    </form>
  {% endif %}
</body>
</html>
